html, body {
    height: 100%;
}

body {
    background-color: #c1e5ff;
    // background-repeat: no-repeat;
}

.title_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.image_disposer {
    margin-top: 88px;
    background-image: url('/public/images/歌ってみた甲子園２_2x.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.login_circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    margin-top: 14px;
    border: 5px solid white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    // overflow: auto;
    // width: auto;
    // height: auto;
}

.login_title {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Kosugi Maru', sans-serif;
    color: white;
}

.user_noti {
    margin-top: 43px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-family: 'Kosugi Maru', sans-serif;
}
.provider_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.google {
    background-color: grey;
}

.facebook {
    background-color: #3B5998;
}

.twitter {
    background-color: #00ACEE;
}
.icon_des {
    color: white;
}

.dir {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Kosugi Maru', sans-serif;
}